---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Tags from "../../utils/Tags.astro";
import type { TArticles } from "../../../types/types";
import { sliceString } from "sanity";

const article: TArticles = Astro.props.article;

if (!article) {
  throw new Error("Article data is missing");
}

const {
  slug: { current: articleSlug },
} = article;
---

<div
  class="mb-[2rem] w-[80%] border-2 transition-all hover:scale-110 duration-300"
>
  <div class="p-3 border-b-2">
    <p class="text-[0.9rem] text-gray-500">{article.date}</p>
  </div>
  <div class="p-5">
    <Image
      src={article.image as string}
      alt={article.title}
      class="w-[100%] object-cover"
      inferSize={true}
    />
  </div>
  <div>
    <Tags
      tags={article.tags}
      class:list={["p-2 border-t-2"]}
      starred={article.starred}
    />
  </div>
  <a
    href={`/articles/${articleSlug}`}
    class="p-3 border-t-2 flex flex-row items-center justify-start gap-[1rem] cursor-pointer"
  >
    <div class="w-[80%] border-r-2">
      <h2 class="text-[1.5rem] font-bold">{article.title}</h2>
      <p class="text-[1rem]">{article.description}</p>
    </div>
    <div class="w-[20%] flex items-center justify-center">
      <h3 class="text-[1rem] text-slate-500 font-bold">
        {article.author}
      </h3>
    </div>
  </a>
</div>
